.test{
    margin-left: 54px;
}
.test.div{
    margin: 13px;
}
body {
    margin: 13px;
    
}
h2 {
    font-family: "serif";
    font-size: 50px;
    color: rgb(7, 7, 7);
    text-align: center;
  }